:root {
    font-size: 18px;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    color: hsl(0, 11%, 12%);
    font-family: 'Kumbh Sans', sans-serif;
}

section {
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 350px;
}

.card-header {
    background-image: url('/images/bg-pattern-card.svg');
    background-size: cover;
    height: 150px;
}

.card-body {
    padding: 0 20px 30px;
}

.profile-img {
    border: solid #fff;
    border-radius: 50%;
    height: 100px;
    margin: -50px auto 30px auto;
    overflow: hidden;
    width: 100px;
}

.profile-img img {
    display: block;
    height: auto;
    width: 100%;
}

.name {
    font-size: 1rem;
    margin-bottom: 20px;
}

.age,
.city,
.meta {
    font-weight: 400;
    color: hsl(0, 11%, 12%);
    opacity: 0.6;
}

.card-footer {
    border-top: 1px solid hsl(0, 0%, 59%);
    display: flex;
    padding: 0 25px;
}

.item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}

.value {
    font-size: 1rem;
    margin-bottom: 6px;
}

.meta {
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.c1,
.c2 {
    position: absolute;
}

.c1 {
    top: -300px;
    left: -100px;
}

.c2 {
    bottom: -450px;
    right: -75px;
}

.attribution {
    background-color: hsl(185, 75%, 39%);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}